body{
background:#E9ECF8;
}

.menu{
	width:120px;
	height:550px;
  background:#E9ECF8;
  position:absolute;
  top:1%;
}

.menu li{
 display:inline;
 position:absolute;
 left:10px;
}

.menu img{
 width:100px;
 }

.contenido-menu{
 width:20px;
 height:550px;
 display:inline-block;
}


.caja-texto{
 width:45%;
 height:60%;
}

.caja-texto{
 width:100%;
 height:400%;
 left: 12%;	
 top:12%;
 border:none;
 font-weight:400px;
 font-size:25px;
 line-height:150%;
 position:absolute;
 width:55%;
 height:60%;
 text:top;
 background:#E9ECF8;
 color:#0A3871;
}

.caja-texto::placeholder{
 color:#0A3871;
}

.caja-texto:hover{
 border:none;
 box-shadow: 3px 5px 5px 5px #cccccc;    
 border-radius:10px;
}

.caja-encriptacion{
 position:absolute;
 width:300px;
 height:544px;
 right: 1%;
 top:1%;
 text-align:center;
 margin:1.5%;
 box-sizing:border-box;
 border-radius: 10px;
 background:#F3F5FC;
 box-shadow: 1px 10px 10px 1px #cccccc;    
}

.caja-botones {
 position:absolute;
 left:20%; 
 top:70%;
 width:680px;
 height:67px;
}


.boton-encriptar{
 width:300px;
 height:50px;
 border: 1px solid #0A3871;
 border-radius:15px;
 background:#052051;
 color:white;
}

.boton-encriptar:hover{
 background:#356EA9;
 color:#052051;
}
.boton-desencriptar{
 width:300px;
 height:50px;
 border: 1px solid #0A3871;
 border-radius:15px;
 background:#E9ECF8;
 color:#052051;
 }
